/* 调整导航栏 番剧区 */
.theater-mode:not(.player-mode-widescreen) #player_module{
    position: static !important;
    height: calc(100vh - 12vh) !important; 
    transform: none !important;
    background-color: #fff !important;
}
.theater-mode .header-icon-Navbar_logo{
    top: 7px !important;
    left: -78px !important;
}
.theater-mode .nav-item{
    height: 46px !important;
}
.theater-mode .nav-wrapper{
    padding:0 24px !important;
}
.theater-mode .nav-mask{
    height: 46px !important;
    background-color:#222 !important;
}
/* 右侧列表 */
.theater-mode:not(.player-mode-widescreen) .main-container{
    padding-right: 0px !important;
}
.theater-mode:not(.player-mode-widescreen) .plp-l{
    float: left;
    width: calc(100% - 350px) !important;
    padding-top: unset !important;
}
.theater-mode:not(.player-mode-widescreen) .plp-r{
    float: right;
    position: static !important;
    margin-left: 30px !important;
    margin-top: calc(100vh - 12vh) !important; 
 }
/* 调整搜索栏 */
.theater-mode #nav_searchform{
    border:0px !important;
    color:hsla(0,0%,100%,.5) !important;
    background-color:#000 !important;
}
.theater-mode #nav_searchform input{
    color:hsla(0,0%,100%,.5) !important;
}
/* 调整导航栏 普通区*/
.theater-mode .mini-header, .theater-mode .base-mini-header{
    height: 46px !important;
    background-color:#222 !important;
}
.theater-mode .mini-header > div{
    padding: 6px 24px !important;
}
.theater-mode .mini-header .nav-user-center{
    height: 36px !important;
}
.theater-mode .mini-header .nav-user-center .item:first-child{
    height: 36px !important;
}
.theater-mode .mini-header .nav-user-center .item{
    height: 30px !important;
}
.theater-mode .mini-header .item .name , .theater-mode .mini-header .nav-link-item .link{
    color:hsla(0,0%,100%,.5) !important;
}
/* 调整搜索栏 */
.theater-mode #nav_searchform{
    border:0px !important;
    color:hsla(0,0%,100%,.5) !important;
    background-color:#000 !important;
}
.theater-mode #nav_searchform .nav-search-btn{
    height: 34px !important;
    background-color:#000 !important;
}
.theater-mode #nav_searchform input{
    color:hsla(0,0%,100%,.5) !important;
}
/* 右侧列表 */
.theater-mode .r-con{
   margin-top: calc(100vh - 12vh + 3px + 26px) !important; 
}
/* 右侧列表宽屏幕 */
.theater-mode.player-mode-widescreen .r-con #danmukuBox{
    margin-top: 0 !important;
}
/* 调整播放器 */
.theater-mode:not(.player-mode-widescreen) .player-mask{
    height: calc(100vh - 12vh + 3px + 46px) !important;
}
.theater-mode:not(.player-mode-widescreen) #app, .theater-mode #bilibili-player:not(.mini-player){
    position: static !important;
}
.theater-mode:not(.player-mode-widescreen) #playerWrap, .theater-mode:not(.player-mode-widescreen) #bilibili-player:not(.mini-player){
    min-height: 522px !important;
    height: calc(100vh - 12vh + 3px) !important;
    background-color: #fff !important;
}
.theater-mode.player-mode-widescreen #playerWrap{
    margin-top: 20px !important;
}
.theater-mode:not(.player-mode-widescreen) .bilibili-player-video{
    margin: 0 !important;
}
.theater-mode:not(.player-mode-widescreen) #bilibili-player:not(.mini-player) #bilibiliPlayer{
    width: 100% !important;
    min-height: 522px !important;
    height: calc(100vh - 12vh + 3px) !important;
    position: absolute !important;
    top:46px !important;
    left: 0 !important;
}
.theater-mode:not(.player-mode-widescreen) #viewbox_report{
    margin-top: 0px;
    padding-top: 17px;
}
.theater-mode:not(.player-mode-widescreen) #v_upinfo, .theater-mode:not(.player-mode-widescreen) .members-info{
    margin-top: 0px;
    padding-top: 0px;
}
.theater-mode:not(.player-mode-widescreen) .bilibili-player-video-sendbar .bilibili-player-video-inputbar{
    max-width: none !important;
}
/* 网页全屏幕 */
.theater-mode.player-mode-webfullscreen #bilibili-player:not(.mini-player) #bilibiliPlayer{
    position: static !important;
    height: calc(100vh) !important;
}
.theater-mode #player_placeholder{
    display: none !important;
}