/* 播放器 */
.dark-style #ACPlayer, .dark-style .container-player{
    height: calc(100vh - 18vh - 3px)  !important;
}

/* 前往评论 */
#toolbar{
    z-index: auto !important;
    bottom: 5px;
}
#toolbar #to-lab{
    display: none !important;
}
#toolbar.showAll #to-lab{
    display: block !important;
}

/* 画中画 */
.container-video .mini-screen,
.mini .container-video .hover-video,
.container-player[data-bind-attr="web"] .mini-screen,
.container-player[data-bind-attr="screen"] .mini-screen{
    z-index: -1;
    opacity: 0;
}

.container-video .hover-video,
.container-video .mini-screen:hover{
    z-index: auto;
    opacity: 1;
}

/* 全屏模式 */
.theater-mode-fullscreen #main{
    overflow: auto;
}
.theater-mode-fullscreen #main::-webkit-scrollbar {
    display: none
}
.theater-mode-fullscreen .dark-style #ACPlayer, .theater-mode-fullscreen .container-player{
    height: calc(100vh)  !important;
}
/* 前往评论 */
.theater-mode-fullscreen #toolbar{
    display: none !important;
}


/* 进度条 */
.theater-mode-progress .container-controls .control-bar-top[data-bind-attr="false"]{
    opacity: 1 !important;
    background-color: rgba(21,21,21,0) !important;
}
.theater-mode-progress .container-controls:hover .control-bar-top{
    opacity: 1 !important;
    background-color: rgba(21,21,21,0.8) !important;
}
.theater-mode-progress .container-controls .control-bar-top[data-bind-attr="false"] .wrap-progress{
    opacity: 1 !important;
    top: auto !important;
    bottom: -4px !important;
}
.theater-mode-progress .container-controls:hover .control-bar-top .wrap-progress{
    opacity: 1 !important;
    top: -7px !important;
    bottom: auto !important;
}
.theater-mode-progress .container-controls .control-bar-top[data-bind-attr="false"] .box-left{
    opacity: 0 !important;
}
.theater-mode-progress .container-controls .control-bar-top[data-bind-attr="false"] .box-right{
    opacity: 0 !important;
}
.theater-mode-progress .container-controls:hover .control-bar-top .box-left{
    opacity: 1 !important;
}
.theater-mode-progress .container-controls:hover .control-bar-top .box-right{
    opacity: 1 !important;
}
/* 进度条鼠标悬浮预览视频 */
#g-toast{
    pointer-events: none;
}