/* 播放器 */
.theater-mode section.player{
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
}
.theater-mode section.player #player #ACFlashPlayer{
    width: 100% !important;
    border: none !important;
}
.container-player{
    height: calc(100vh - 18vh - 2px)  !important;
}
/* 分P栏 */
.theater-mode section.part{
    margin: 10px auto !important;
}
/* 标题栏 */
.theater-mode section.head{
    margin-top: -71px !important;
}
/* 导航栏 */
.theater-mode .nav{
    background-color:#222 !important;
    border: none !important;
}
.theater-mode .nav .nav-parent{
    background-color:#222 !important;
}
.theater-mode .nav .logo a{
    padding: 8px 0 11px !important;
}
.theater-mode .nav .fl li a{
    color: #fff !important;
}
/* 搜索栏 */
.theater-mode #nav .search-box #search-text{
    background-color:#000 !important;
    border: none !important;
    color: #fff !important;
}
.theater-mode #nav .search-box .search-btn{
    background-color:#000 !important;
}
/* 前往评论 */
.theater-mode #toolbar{
    z-index: auto !important;
}
.theater-mode #toolbar .tool-to-comm{
    display: none !important;
}

/* 画中画 */
.container-video .mini-screen,
.mini .container-video .hover-video,
.container-player[data-bind-attr="web"] .mini-screen,
.container-player[data-bind-attr="screen"] .mini-screen{
    z-index: -1;
    opacity: 0;
}

.container-video .hover-video,
.container-video .mini-screen:hover{
    z-index: auto;
    opacity: 1;
}

/* 全屏模式 */
.theater-mode-fullscreen #main{
    overflow: auto;
}
.theater-mode-fullscreen #main::-webkit-scrollbar {
    display: none
}
.theater-mode-fullscreen .container-player{
    height: calc(100vh)  !important;
}
.theater-mode-fullscreen section.head{
    margin-top: 21px !important;
}